::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5);
}

.header::before {
  filter: drop-shadow(20px 20px 0 #b70404);
  animation: header 1.5s;
}

@keyframes header {
  from {
    transform: translateX(10px);
    transform: translateY(10px);
    filter: drop-shadow(0 0 0 #b70404);
  }

  to {
    transform: translateX(0);
    transform: translateY(0);
    filter: drop-shadow(20px 20px 0 #b70404);
  }
}

/* Carousel */
.carousel {
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
  position: relative;
  transform: scale(0.91);
}

.carousel-item {
  visibility: visible;
  display: flex;
  width: 130%;
  height: 100%;
  align-items: center;
  justify-content: flex-end;
  -webkit-align-items: center;
  -webkit-justify-content: flex-end;
  position: relative;
  background-color: #fff;
  flex-shrink: 0;
  -webkit-flex-shrink: 0;
  position: absolute;
  z-index: 0;
  transition: 0.6s all linear;
}

.carousel-item__info {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  display: -webkit-flex;
  -webkit-justify-content: center;
  -webkit-flex-direction: column;
  order: 1;
  left: 0;
  margin: auto;
  padding: 0 40px;
  width: 40%;
}

.carousel-item__image {
  width: 60%;
  height: 100%;
  order: 2;
  align-self: flex-end;
  flex-basis: 60%;
  -webkit-order: 2;
  -webkit-align-self: flex-end;
  -webkit-flex-basis: 60%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  transform: translateX(100%);
  transition: 0.6s all ease-in-out;
}

.carousel-item__subtitle {
  letter-spacing: 3px;
  font-size: 30px;
  text-transform: uppercase;
  margin: 0;
  font-weight: 700;
  opacity: 0;
  visibility: hidden;
  transition: 0.4s all ease-in-out;
}

.carousel-item__title {
  margin: 15px 0 0 0;
  font-size: 38px;
  line-height: 45px;
  letter-spacing: 3px;
  font-weight: 700;
  opacity: 0;
  visibility: hidden;
  transition: 0.6s all ease-in-out;
}

.carousel-item__description {
  text-align: justify;
  opacity: 0;
  visibility: hidden;
  transition: 0.6s all ease-in-out;
  margin-top: 15px;
  font-size: 18px;
  color: #000000;
  line-height: 25px;
  margin-bottom: 35px;
}

.carousel-item--1 .carousel-item__image {
  background-image: url("asset/bg-committee_1.jpeg");
}

.carousel-item--2 .carousel-item__image {
  background-image: url("asset/bg-committee_2.jpeg");
}

.carousel-item--3 .carousel-item__image {
  background-image: url("asset/bg-committee_3.jpeg");
}
.carousel-item--3 .carousel-item__image {
  background-image: url("asset/11.jpeg");
}

.carousel-item__btn {
  width: 35%;
  letter-spacing: 2.5px;
  font-size: 18px;
  text-transform: uppercase;
  margin: 0;
  width: 35%;
  font-weight: 700;
  text-decoration: none;
  transform: translateY(25%);
  opacity: 0;
  color: #e20825;
  visibility: hidden;
  transition: 0.6s all ease-in-out;
}

.carousel__nav {
  position: absolute;
  right: 0;
  z-index: 2;
  background-color: #fff;
  bottom: 0;
}

.carousel__icon {
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  fill: #5d5d5d;
}

.carousel__arrow {
  cursor: pointer;
  display: inline-block;
  padding: 11px 15px;
  position: relative;
}

.carousel__arrow:nth-child(1):after {
  content: "";
  right: -3px;
  position: absolute;
  width: 1px;
  background-color: #b0b0b0;
  height: 14px;
  top: 50%;
  margin-top: -7px;
}

.active {
  z-index: 1;
  display: flex;
  visibility: visible;
}

.active .carousel-item__subtitle,
.active .carousel-item__title,
.active .carousel-item__description,
.active .carousel-item__btn {
  transform: translateY(0);
  opacity: 1;
  transition: 0.6s all ease-in-out;
  visibility: visible;
}

.active .carousel-item__image {
  transition: 0.6s all ease-in-out;
  transform: translateX(0);
}

/* Accordion */
.accordion {
  margin: 0 auto 50px;
  border-top: 1px solid #d9e5e8;
  width: 100%;
  max-width: 100%;
}

.accordion li {
  border-bottom: 1px solid #d9e5e8;
  position: relative;
}

.accordion li p {
  display: none;
  color: #090de8;
}

.accordion li img {
  /* display: none; */
  transition: color 0.3s ease-in-out;
}

.accordion a {
  width: 100%;
  display: block;
  cursor: pointer;
  font-weight: 500;
  line-height: 2;
  font-size: 1.2rem;
  color: #11319a;
  user-select: none;
  transition: color 0.3s ease-in-out;
}

.accordion a:hover {
  color: #ff6600;
}

.accordion a:after {
  width: 15px;
  height: 15px;
  border-right: 2px solid #280218;
  border-bottom: 2px solid #280218;
  position: absolute;
  right: 20px;
  content: "";
  top: 12px;
  transform: rotate(-45deg);
  transition: all 0.2s ease-in-out;
}

.accordion p {
  font-size: 1rem;
  line-height: 1.3;
  padding-top: 8px;
}

/* .active_1 {
  display: block;
} */

a.active:after {
  transform: rotate(45deg);
  transition: all 0.2s ease-in-out;
}

.committee-members {
  display: flex;
  justify-content: ;
}

.committee-member img {
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  border-radius: 50%;
}

.committee-member {
  text-align: center;
  flex: 1;
}
